html,body { height: 100%; margin: 0px; padding: 0px; }
#root, main,
.container-fluid,
.row,
.row .sidebar
{ height: 100% }

#root .container-fluid:first-child {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bg-bv-primary {
    background-color: #324371;
    color: white;
}
.text-bv-primary {
    color: #324371;
}

.bg-bv-dark {
    background-color: #435D74;
    color: white;
}
.text-bv-dark {
    color: #435D74;
}

.bg-bv-blue {
    background-color: #5194BE;
    color: black;
}
.text-bv-blue {
    color: #5194BE;
}#878785

 .bg-bv-grey {
     background-color: #878785;
     color: black;
 }
.text-bv-grey {
    color: #878785;
}

.container-fluid .sidebar {
    color: white;
    padding: 25px 30px;
}
.sidebar a {
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    padding: 20px;
}
.sidebar a:hover {
    color: #878785;
}
.sidebar a:last-child {
    border-width: 0;
}

.landing-content {
    max-height: 88vh;
}

.dropdown-menu {
    right: 0;
    left: auto !important;
}
